:root {
    /* Color */
    --white-color:#FFF;
    --black-color:#0B1D26;
    --Accent-color:#FBD784;
    /* Size */
    --padding: 12px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Sans Serif', Arial, sans-serif;
    color: var(--white-color);
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Serif Disply', sans-serif;
    font-size: 75px;
    line-height: 120%;
    font-weight: 600;
    text-transform: capitalize;
}
h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--Accent-color);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--Accent-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--white-color);
}
i {
    display: block;
    width: 24px;
    height: 24px;
}
/* CONTENT-WRAPPER */
.content-wrapper {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}
.content-wrapper.header {
    max-width: none;
    justify-content: space-around;
}
.content-wrapper.hero {
    z-index: 50;
    position: fixed;
    top: 25%;
    bottom: 0;
    max-width: 1920;
    display: flex;
    justify-content: space-between;
}

/* SITE-WRPPER */
.site-wrapper {
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    background-color: var(--black-color);
    box-shadow: 28px 28px 80px 0 rgba(11, 29, 38, 0.4);
}

/* HERO-SECTION */
.hero-section {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.mg {
    position: absolute;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}
.vg {
    position: absolute;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 100;
    padding-top: 40px;
}
.header-link-wrapper {
   font-weight: 700px;
}
.header-link-wrapper ul{
    display: flex;
}
.logo {
    width: 108px;
    height: 24px;
    display: table;
}
.logo .mntn-logo {
    width: 108px;
    height: 24px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 500;
    
}
.header-link-wrapper {
    font-weight: 700;
}
.header-link {
    padding: 8px 24px;
    color: var(--white-color);
    transition: all 200ms ease;
}
.header-link:hover {
    color: var(--Accent-color);
    transform: translate(0px, -2px);
}
.account {
    color: var(--Accent-color);
    transform: translate(0px, -2px);
    width: 108px;
}
.icon-account {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: space-between;
}
/*CONTENT-WRAPER.HERO  */
.social-link {
    position: sticky;
    display: flex;
    left: 0%;
    top: auto;
    right: auto;
    bottom: auto;
    z-index: 50;
    /* display: none; */
    width: 100px;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    margin-top: 20px;
}
.text-block {
    transform: rotate(90deg);
    white-space: nowrap;
    margin-bottom: 16px;
    
}
.icon.social {
    margin-right: 0px;
    margin-top: 20px;
}
.tagline {
    margin-bottom: 16px;
    display: flex;
    
}
.tagline-line {
    width: 72px;
    height: 2px;
    margin-right: 24px;
    background-color: var(--Accent-color);
    margin-top: 12px;
  }
.h1-title {
    margin-bottom: 24px;
}
.hero-section {
    height: 1000px;
}
.nav-slider-links {
    position: relative;
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
}

